* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
}

nav ul li {
  color: #fff;
  cursor: pointer;
  transition: 300ms all ease-in-out 80ms;
}

nav ul li:hover {
  border-bottom: 1.6px solid #fff;
}

.menu-display {
  background-image: url('./Background.png');
  background-color: #f0b91e;
  background-repeat: no-repeat;
  background-size: 1930px 2000px;
  background-position: -100px 10px;
  filter: blur(19px);
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.menu-container {
  transform: translateX(-300%);
}

.menu-container p {
  color: #fff;
  font-weight: 700;
  text-align: center;
}

p.left {
  text-align: left;
}